.box-table {
    display: flex;
    background-color: #bebaba;
    align-items: center;
    justify-content: center;
    width: 91vw;
    height: 70vh; 
    margin-top: 2%;
    margin-left: 4.5%;
    border: 3px solid #0F172A;
}
