.filters {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%; 
}

.btn-filter {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    flex-grow: 1; 
    width: 50%; 
    margin-top: 18px;
}

.btn-filter.btn-embarque {
    margin-left: 5%; 
}
.btn-filter.btn-desembarque {
    margin-left: 1.5%;
    margin-right: 5%; 
}

.filter-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 8px 10px; 
    font-family: "Inter", sans-serif;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #837B7B;
    background: #D9D9D9;
    border: 1px solid #ccc;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.50);
    cursor: pointer;
    position: relative;
}

.filter-content:hover {
    background: #e0e0e0;
}

.filter-content::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 3.3%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 5.5px solid transparent;
    border-right: 5.5px solid transparent;
    border-top: 8px solid #837B7B;
}
